.cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .cart i {
    margin-left: 5px;
  }
  